html {
  background-color: var(--hl-bg);
  color: var(--hl-fg);
  opacity: 1 !important;
}

.dvdbounce {
  display: block;
  border: solid var(--hl-fg) 5px;
  border-radius: 1em;
  width: 10em;
  aspect-ratio: 1;
  animation: 5s infinite rotate linear;
}

.dvdbounce h1 {
  text-transform: uppercase !important;
  text-align: center;
  font-family: vonique64;
  font-size: 2.5rem;
}

.dvdbounce p {
  text-transform: uppercase !important;
  padding: 5px;
  font-family: vonique64;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  
}

.dvdbounce img.bg {
  width: 100%;
  position: absolute;
  z-index: -1;
  filter: blur(3px) brightness(80%);
  object-fit: fill;
}

.dvdbounce img.bg {
  width: 100%;
  position: absolute;
  z-index: -1;
  filter: blur(3px) brightness(80%);
}

.dvdbounce img.shadow {
  width: 150%;
  position: absolute;
  transform: translate(-20%,-20%);
  z-index: -10;
  filter: blur(30px) brightness(50%);
}

.bounce-wrapper {
  position: absolute;
  display: flex;
  width: 10em;
  height: 10em; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translateY(100px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateY(100px) rotate(-360deg);
  }
}
