/* Moved from style.css for better readability // Those 500 lines of css drive me crazy */
/* Let's say base.css is mostly sidenav-related stuff + basic page style - color definitions and background setups*/

* {
  box-sizing: border-box;
}

.background-filter-pane {
  z-index: -100;
  display: block;
  position: fixed;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  background-color: #010112;
  opacity: 0.9;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #010112 33px ), repeating-linear-gradient( #462f4c55, #462f4c );
}

.whole-page {
  position: fixed;
  width: 100vw;
  height: 100%;
  font-family: apl2741;
  color: var(--1-fg);
  display: flex;
  flex-flow: row nowrap;
  overflow-y: scroll;
}

/* Style the side navigation */

.sidenav {
  position: fixed;
  z-index: 50;
  flex-grow: 1;
  border: 2px solid var(--hl-fg);
  font-family: apl2741, Arial, Helvetica, sans-serif;
  height: 99.7vh;
  width: fit-content;
  white-space: normal;
  transition: width 0.6s;
  display: flex;
  flex-flow: column nowrap;
}

button span.right-sided {
  margin-left: auto;
}

.sidenav-minimized {
  width: 40px !important;
  overflow-x: hidden !important;
}

.sidenav .right-sided {
  letter-spacing: -2px;
  padding-left: 1em;
  text-decoration: none;
  grid-column: 2;
  display: block;
  text-align: right;
}

.sidenav-minimized .right-sided {
  display: none;
}
.sidenav-minimized .sidenav-splitter {
  display: none;
}

/* Side navigation links */
.sidenav > * {
  min-width: fit-content;
  color: inherit;
  background-color: inherit;
  padding: 12px;
  text-decoration: none;
}

.sidenav i {
  width: 16px;
  height: 16px;
}
.sidenav i.fa-soundcloud {
  margin-left: -2px;
}

.sidenav a {
  width: 1fr;
  display: grid;
  text-align: left;
  grid-template-rows: 3;
  grid-template-columns: repeat(auto, 20px);
  overflow: hidden;
  white-space: nowrap;
}

.sidenav button {
  width: 100%;
  text-align: left;
  display: flex;
  flex-flow: nowrap;
  align-content: center;
  border-width: inherit;
  border-color: inherit;
}

.sidenav button#minimize-sidenav {
  border-style: none none solid none;
}

/* Invert colors on hover for every direct child of .sidenav */
.sidenav > *:hover {
  background-color: var(--hl-fg);
  color: var(--hl-bg);
}


.sidenav .hidden {
  opacity: 0.0;
  overflow: hidden;
  white-space: nowrap;
  width: 0px;
  transition: opacity 0.1s linear;
  -moz-transition: opacity 0.05s;
}
.sidenav:hover .hidden {
  opacity: 1.0;
  width: unset;
}

.sidenav p.sidenav-splitter {
  font-family: vonique64;
  padding: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  color: var(--2-bg);
  background-color: var(--2-fg);
}

/* Style icons in sidenav */
.sidenav i {
  text-align: left;
  display: block;
  grid-column: 1;
  object-fit: stretch;
}

a:hover i, a:hover svg {
  transform: rotate(-20deg)
}

.gitflic-logo {
  d: path("M60 33.9602C60 28.6904 58.3294 23.7987 55.4907 19.7814C57.0561 18.2099 58.0374 16.0358 58.0374 13.6373C58.0374 8.86373 54.2173 5 49.4977 5C46.028 5 43.0374 7.10319 41.7056 10.1162C39.5678 9.5254 37.3248 9.2182 35 9.2182C32.6869 9.2182 30.4439 9.5254 28.3178 10.1162C26.986 7.10319 23.9953 5.01182 20.5257 5.01182C15.8061 5.01182 11.986 8.87554 11.986 13.6491C11.986 16.0477 12.9556 18.2217 14.521 19.7814C11.6706 23.7987 10 28.6904 10 33.972C10 40.4943 12.5584 46.4376 16.729 50.8566L16.7523 50.8803C17.278 51.4356 17.8388 51.9791 18.4229 52.4872L27.7804 61.5144L29.9883 59.3403L34.8832 65L39.8949 59.2103L42.2313 61.5026L51.6122 52.4636C52.1729 51.9673 52.7103 51.4474 53.2243 50.9039L53.271 50.8566C57.4416 46.4258 60 40.4825 60 33.9602ZM24.1472 25.7129C23.7617 25.2166 23.6565 24.6967 23.7734 24.2596C23.8902 23.8224 24.2407 23.4325 24.8248 23.1961C25.4089 22.9598 26.1799 22.8889 26.986 23.1134C27.7921 23.3379 28.4346 23.7751 28.8201 24.2832C29.1939 24.7794 29.2991 25.2993 29.1822 25.7365C29.0654 26.1737 28.715 26.5636 28.1425 26.7999C27.5584 27.0362 26.7874 27.1071 25.9813 26.8826C25.1752 26.6581 24.5327 26.221 24.1472 25.7129ZM41.4252 40.3643C40.1752 40.9905 38.7033 41.3568 37.6285 42.0185C37.2547 42.243 36.9159 42.503 36.6122 42.822C36.3318 43.1056 35.3855 44.1808 35.8878 45.6577C36.4019 47.1701 38.0491 48.1981 39.9299 48.2217C40.222 48.2217 40.4556 48.4699 40.4439 48.7653C40.4439 49.0607 40.2103 49.2852 39.9182 49.2852C39.9182 49.2852 39.9182 49.2852 39.9065 49.2852C37.6869 49.2497 35.736 48.0445 34.9766 46.2485C34.2523 48.1154 32.2664 49.3797 30 49.4033C30 49.4033 30 49.4033 29.9883 49.4033C29.6963 49.4033 29.4626 49.167 29.4626 48.8834C29.4626 48.588 29.6963 48.3517 29.9766 48.3399C31.8575 48.3163 33.4813 47.2883 34.0187 45.7759C34.2757 45.0551 34.2523 44.0154 33.1308 42.822C32.8271 42.503 32.4766 42.243 32.1028 42.0185C31.028 41.3568 29.3692 41.0614 28.2827 40.3525C27.2664 39.549 26.6589 38.5565 26.6589 37.4813C26.6589 37.4222 26.6589 37.3513 26.6706 37.2922C26.8341 34.7164 30.4322 32.6605 34.8481 32.6605C39.1822 32.6605 42.722 34.6337 43.014 37.1386C43.0257 37.245 43.0374 37.3631 43.0374 37.4813C43.0491 38.5683 42.4299 39.8562 41.4252 40.3643ZM45.9813 25.7247C45.5958 26.221 44.965 26.67 44.1472 26.8944C43.3411 27.1189 42.5701 27.0481 41.986 26.8117C41.4019 26.5754 41.0514 26.1855 40.9346 25.7483C40.8178 25.3111 40.9229 24.7913 41.3084 24.295C41.6939 23.7987 42.3248 23.3497 43.1425 23.1252C43.9486 22.9007 44.7196 22.9716 45.3037 23.208C45.8879 23.4443 46.2383 23.8342 46.3551 24.2714C46.472 24.7085 46.3668 25.2284 45.9813 25.7247Z");
  fill: var(--2-fg);
  transform: scale(0.23) translate(-7px, 0);
}
a:hover .gitflic-logo {
  fill: var(--hl-bg);
}<figure><embed src="https://wakatime.com/share/@rzidev/c72b3af2-aefd-47dd-a0af-bead268dc864.svg"></embed></figure>

@media screen and (max-width: 800px) {
  .whole-page {
    flex-flow: column nowrap;
    max-width: 100vw !important;
  }
  .content {
    position: absolute;
    margin-left: 0;
    top: 50px;
    z-index: -10;
  }
  .sidenav {
    position: fixed;
    height: fit-content;
    width: 99% !important; 
    transition: height 0.4s;
  }
  .sidenav-minimized {
    overflow-y: hidden;
    flex-grow: 0;
  }
  .sidenav-minimized > a {
    display: none;
  }
  .sidenav-minimized button#minimize-sidenav {
    border-bottom: 0px;
  }
}
