.board-template {
  resize: vertical;
  margin: 5px;
  font-size: inherit;
  font-family: inherit;
  text-align: inherit;
  color: inherit;
  background-color: inherit;
  backdrop-filter: brightness(70%);
  border: 2px solid var(--shade-background-color)
}

div.post {
  display: flex;
  flex-flow: column;
  align-items: center;
}

textarea.board-template#content-input {
  font-size: 16px;
  text-align: left;
  height: 100%;
  width: 95%;
  margin: 5px auto;
}

input.board-template#title-input {
  font-size: 40px;
  text-align: center;
  font-family: vonique64;
  width: 95%;
  margin: 5px auto;
}

div.post * {
  width: 100%;
}

div.post p {
  display: block;
  max-height: 500px;
  overflow-x: scroll;
  color: rgba(17, 17, 17, 0.1);
}

div.post:hover p {
  filter: unset;
  color: var(--1-fg);
}

div.post small.datetime {
  color: var(--1-fg);
  font-family: vonique64;
  backdrop-filter: brightness(160%);
  text-align: right;
  margin-top: auto;
  padding-right: 10px;
}

