{
  box-sizing: border-box;
}

/* Handy color definitions. You can change them however you like and whole page will obey :) */
:root {
  --primary-color: #53cc7d;
  --background-color: #111;
  --link-highlight: rgba(100, 255, 180, 1);
  --shade-background-color: rgba(17, 17, 17, 0.3);
  --darker-background-color: rgba(17, 17, 17, 0.7);
  --primary-color-transparent: rgba(83, 204, 125, 0.5); /* used for selection colors */
}

::-moz-selection { /* Code for Firefox */
  color: var(--background-color);
  background: var(--primary-color-transparent);
}

::selection {
  color: var(--background-color);
  background: var(--primary-color-transparent);
}

/*
*  BEWARE, MY DEAR FRIEND
*  This css file contains lots of shitty code and is not meant to be understood!
*  This is my first web project and I am figuring out stuff along the way.
*  Also this single css file defines layout for all pages on my website.
*  Sidenav layout stolen from w3schools.com
*/

@font-face {
  font-family: apl2741;
  src: url("fonts/Apl2741.ttf");
}

@font-face {
  font-family: vonique64;
  src: url("fonts/Vonique64.ttf");
}

body {
  font-family: apl2741;
  margin: 0;
  color: var(--primary-color);
  background-color: var(--background-color);
  background-image: url("images/nathan-dumlao-ciO5L8pin8A-unsplash.jpg");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: 100%;
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 1;
}

/* Just some general style for page content */
h1, h2 {
  font-family: vonique64;
  text-align: center;
  margin-bottom: 1px;
  margin-top: 5px;
  transition: all 0.1s linear;
}

.textblock:hover h1, .textblock:hover h2 {
  letter-spacing: 5px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.content small {
  font-size: 10px;
  color: #111;
}

/* Style the side navigation */
.sidenav {
  border: 2px solid var(--primary-color);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 15%;
  min-width: 100px;
  max-width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  color: inherit;
  background-color: inherit;
  overflow-x: hidden;
}


/* Side navigation links */
.sidenav a {
  color: inherit;
  padding: 12px;
  text-decoration: none;
  display: grid;
  text-align: left;
  grid-template-rows: 3;
  grid-template-columns: repeat(auto, 20px);
  overflow: hidden;
  white-space: nowrap;
}

/* Invert colors on hover */
.sidenav a:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.sidenav .hidden {
  opacity: 0.0;
  overflow: hidden;
  white-space: nowrap;
  width: 0px;
  transition: all 0.1s linear;
  -moz-transition: all 0.1s;
}
.sidenav:hover .hidden {
  opacity: 1.0;
  width: unset;
}

.sidenav p.sidenav-splitter {
  font-family: vonique64;
  padding: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  color: var(--background-color);
  background-color: var(--primary-color);
}

/* Style icons in sidenav */
.sidenav i {
  width: 20px;
  display: block;
  grid-column: 1;
}

.sidenav .right-sided {
  width: auto;
  text-decoration: none;
  grid-column: 2;
  display: block;
  text-align: right;
}


/* Style the content */
.content {
/*  margin-left: 200px; */
  grid-column: 2;
  padding-right: 20px;
  padding-left: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr)
}

.content a {
  color: var(--link-highlight)
}

.textblock {
  margin: 5px;
  padding: 5px;
  background-color: var(--shade-background-color);
  backdrop-filter: blur(4px);
  border: 3px solid var(--primary-color);
  transition: all 0.1s linear;
  min-height: 200px;
  max-height: 600px;
  display: flex;
  align-items: stretch;
  flex-flow: column;
  flex-basis: fit-content;
}

.textblock:hover {
  border-bottom: 8px solid var(--primary-color);
  backdrop-filter: blur(10px) brightness(80%);
}



.textblock samp#copied {
  display: inline-block;
  margin-left: 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
  color: rgba(100, 255, 180, 1);
}

s.spoiler {
  display: inline-block;
  margin-bottom: -5px;
  margin-top: -5px;
  width: 30px;
  overflow: hidden;
  white-space: nowrap;
  color: rgba(17, 17, 17, 0);
  background-color: rgba(17, 17, 17, 0.3);
  transition: all 0.1s linear;
}

s.spoiler:hover {
  width: unset;
  color: rgba(255, 80, 60, 1);
}

samp#years {
  color: rgba(100, 255, 180, 1);
  text-decoration: underline;
}

button {
  display: inline-block;
  padding: 3px;
  font-size: 12px;
  font-family: monospace;
  border: none;
  background-color: var(--primary-color);
  color: var(--background-color);
}

button.fav-color {
  background-color: #53cc7d; /* My fav color however will not obey */
}

button.button-post {
  font-family: vonique64;
  width: 100%;
  height: 30px;
  color: var(--background-color);
  background-color: var(--primary-color);
  border-radius: unset;
  margin-top: auto;
}

button:hover {
    background-color: var(--background-color);
    color: var(--primary-color);
}

img.archlinux-logo {
  display: inline-block;
  height: 20px;
  margin-bottom: -5px;
}

.width-extended {
  grid-column: span 2;
  min-height: unset;
}


div.photoblock {
  margin: 10px;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  backdrop-filter: brightness(80%);

}

div.img-holder {
  display: block;
}

div.photoblock img {
  margin: 10px;
  display: block;
  max-width: 340px;
  min-width: 100px;
  justify-content: center;
  object-fit: contain;
}

.board-template {
  resize: vertical;
  margin: 5px;
  font-size: inherit;
  font-family: inherit;
  text-align: inherit;
  color: inherit;
  background-color: inherit;
  backdrop-filter: brightness(70%);
  border: 2px solid var(--shade-background-color)
}

div.post {
  display: flex;
  flex-flow: column;
  align-items: center;
}

textarea.board-template#content-input {
  font-size: 16px;
  text-align: left;
  height: 100%;
}

input.board-template#title-input {
  font-size: 40px;
  text-align: center;
  font-family: vonique64;
}

div.post * {
  width: 100%;
}

div.post p {
  display: block;
  max-height: 500px;
  overflow-x: scroll;
  color: rgba(17, 17, 17, 0.1);
}

div.post:hover p {
  filter: unset;
  color: var(--primary-color);
}

div.post small.datetime {
  font-family: vonique64;
  backdrop-filter: brightness(160%);
  text-align: right;
  margin-top: auto;
  padding-right: 10px;
}
