{
  box-sizing: border-box;
}

/* Handy color definitions. You can change them however you like and whole page will obey :) */
:root {
  --primary-color: #53cc7d;
  --background-color: #111;
  --link-highlight: rgba(100, 255, 180, 1);
  --shade-background-color: rgba(17, 17, 17, 0.3);
  --darker-background-color: rgba(17, 17, 17, 0.7);
  --primary-color-transparent: rgba(83, 204, 125, 0.5); /* used for selection colors */
  --body-bg-gradient-1: #008843;
  --body-bg-gradient-2: #19254D;
}

::-moz-selection { /* Code for Firefox */
  color: var(--background-color);
  background: var(--primary-color-transparent);
}

::selection {
  color: var(--background-color);
  background: var(--primary-color-transparent);
}

/*
*  BEWARE, MY DEAR FRIEND
*  This css file contains lots of shitty code and is not meant to be understood!
*  This is my first web project and I am figuring out stuff along the way.
*  Also this single css file defines layout for all pages on my website.
*  Sidenav layout stolen from w3schools.com
*/

@font-face {
  font-family: apl2741;
  src: url("fonts/Apl2741.ttf");
}

@font-face {
  font-family: vonique64;
  src: url("fonts/Vonique64.ttf");
}

body {
  background: url("images/waves-bw2.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

/* So setting whole <body> to display: grid really sucks, cuz there's no way to add something not in grid, so div.whole-page is a wrapper for .sidenav+.conent */
.background-filter-pane {
  z-index: -100;
  display: block;
  position: fixed;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(30%);
}

.whole-page {
  font-family: apl2741;
  margin: 0;
  color: var(--primary-color);
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 1fr;
}


/* Just some general style for page content */
h1, h2 {
  font-family: vonique64;
  text-align: center;
  margin-bottom: 1px;
  margin-top: 5px;
  transition: all 0.1s linear;
}

.textblock:hover h1, .textblock:hover h2 {
  letter-spacing: 1px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.content small {
  font-size: 10px;
  color: #111;
}

/* Style the side navigation */
.sidenav {
  border: 2px solid var(--primary-color);
  font-family: Arial, Helvetica, sans-serif;
  grid-column: 1;
  height: 100%;
  width: 15%;
  min-width: 100px;
  max-width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  color: inherit;
  background-color: var(--background-color);
  overflow-x: hidden;
}


/* Side navigation links */

.sidenav > * { /* define style for any child of sidenav */

}

.sidenav > * {
  color: inherit;
  background-color: inherit;
  padding: 12px;
  text-decoration: none;
}

.sidenav a {
  display: grid;
  text-align: left;
  grid-template-rows: 3;
  grid-template-columns: repeat(auto, 20px);
  overflow: hidden;
  white-space: nowrap;
}

.sidenav button#minimize-sidenav {
  display: block;
  border-style: none solid solid none;
  border-width: inherit;
  border-color: inherit;
}

/* Invert colors on hover for every direct child of .sidenav */
.sidenav > *:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}


.sidenav .hidden {
  opacity: 0.0;
  overflow: hidden;
  white-space: nowrap;
  width: 0px;
  transition: all 0.1s linear;
  -moz-transition: all 0.1s;
}
.sidenav:hover .hidden {
  opacity: 1.0;
  width: unset;
}

.sidenav p.sidenav-splitter {
  font-family: vonique64;
  padding: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  color: var(--background-color);
  background-color: var(--primary-color);
}

/* Style icons in sidenav */
.sidenav i {
  width: 20px;
  display: block;
  grid-column: 1;
}

.sidenav .right-sided {
  width: auto;
  text-decoration: none;
  grid-column: 2;
  display: block;
  text-align: right;
}


/* Style the content */
.content {
  height: 100%;
  background-color: unset;
/*  margin-left: 200px; */
  grid-column: 2;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: stretch;
}

.content a {
  color: var(--link-highlight)
}

.textblock {
  margin: 5px;
  padding: 5px;
  background-color: var(--shade-background-color);
  border: 3px solid;
  border-image: linear-gradient(45deg, var(--background-color), var(--primary-color));
  border-image-slice: 1;
  transition: all 0.1s linear;
  min-height: 200px;
  max-height: 600px;
  display: flex;
  align-items: stretch;
  flex-flow: column;
  flex-grow: 1;
  flex-basis: 400px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.textblock:hover {
  background-color: var(--background-color);
  backdrop-filter: none;
}



.textblock samp#copied {
  display: inline-block;
  margin-left: 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
  color: rgba(100, 255, 180, 1);
}

s.spoiler {
  display: inline-block;
  margin-bottom: -5px;
  margin-top: -5px;
  width: 30px;
  overflow: hidden;
  white-space: nowrap;
  color: rgba(17, 17, 17, 0);
  background-color: rgba(23, 23, 23, 1);
  transition: all 0.1s linear;
}

s.spoiler:hover {
  width: unset;
  color: rgba(255, 80, 60, 1);
}

samp#years {
  color: rgba(100, 255, 180, 1);
  text-decoration: underline;
}

.content button {
  display: inline-block;
  padding: 3px;
  font-size: 12px;
  font-family: monospace;
  border-width: 0px;
  border-style: solid;
  border-color: var(--background-color);
  background-color: var(--primary-color);
  color: var(--background-color);
}

button.fav-color {
  background-color: #53cc7d; /* My fav color however will not obey */
}

button.button-post {
  font-family: vonique64;
  width: 100%;
  height: 30px;
  margin-top: auto;
}

.content button:hover {
  border-width:1px;
  background-color: var(--background-color);
  color: var(--primary-color);
  border-color: var(--primary-color);
}


img.archlinux-logo {
  display: inline-block;
  height: 20px;
  margin-bottom: -5px;
}

.width-extended {
  flex-basis: 100%;
  min-height: unset;
}


div.photoblock {
  margin: 10px;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

div.img-holder {
  display: flex;
  flex-grow: 1;
  flex-basis: 400px;
  margin: 10px;
  object-fit: cover;
}

div.photoblock img {
  margin: 10px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.board-template {
  resize: vertical;
  margin: 5px;
  font-size: inherit;
  font-family: inherit;
  text-align: inherit;
  color: inherit;
  background-color: inherit;
  backdrop-filter: brightness(70%);
  border: 2px solid var(--shade-background-color)
}

div.post {
  display: flex;
  flex-flow: column;
  align-items: center;
}

textarea.board-template#content-input {
  font-size: 16px;
  text-align: left;
  height: 100%;
}

input.board-template#title-input {
  font-size: 40px;
  text-align: center;
  font-family: vonique64;
}

div.post * {
  width: 100%;
}

div.post p {
  display: block;
  max-height: 500px;
  overflow-x: scroll;
  color: rgba(17, 17, 17, 0.1);
}

div.post:hover p {
  filter: unset;
  color: var(--primary-color);
}

div.post small.datetime {
  color: var(--primary-color)
  font-family: vonique64;
  backdrop-filter: brightness(160%);
  text-align: right;
  margin-top: auto;
  padding-right: 10px;
}
