{% extends 'base.html' %}

{% block head %}
<title>404</title>
<link rel="stylesheet" href="{{ url_for('static', filename='404.css') }}">
{% endblock %}

{% block body %}
    <script src="{{ url_for('static', filename='404.js') }}"></script>
    <div class="content">
      <div class="bounce-wrapper">
        <div class="dvdbounce">
          <img class="shadow" src="https://media.tenor.com/SEDs1Lp5PqEAAAAd/loop-eyes.gif"></img>
          <img class="bg" src="https://media.tenor.com/SEDs1Lp5PqEAAAAd/loop-eyes.gif"></img>
          <h1>404</h1>
          <p>No such page</p>
        </div>
      </div>
    </div>
{% endblock %}
