<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{{ url_for('static', filename='cardhover.css') }}">
  </head>
  <body>
    <div class="card" id="card1">
      <section class="head">
        <img src="https://images.unsplash.com/photo-1677549254885-cf55be3e552b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80">
      </section>
      <section class="tail">
        <h1>POMEGRANADE</h1>
      </section>
    </div>
    <div class="card" id="card2">
      <section class="head">
        <img src="https://images.unsplash.com/photo-1627792089443-7350388a89aa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80">
      </section>
      <section class="tail">
        <h1>WISTERIA</h1>
      </section>
    </div>
    <div class="card" id="card3">
      <section class="head">
        <img src="https://images.unsplash.com/photo-1677003289627-e3df6ed651b6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDExfDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=400&q=60">
      </section>
      <section class="tail">
        <h1>GREENSEA</h1>
      </section>
    </div>
  </body>
</html>
