{% extends 'base.html' %}

{% block head %}
<title>rozie's space</title>
{% endblock %}


{% block body %}

<div class="content">
  <script src="{{ url_for('static', filename='index.js') }}"></script>
  <div class="textblock">
    <h1>welcome</h1>
    <p>This place acts as a front page to my retarded.games vps, a place for my <i class="fa fa-telegram" aria-hidden="true"></i>bots, <i class="fa fa-cube" aria-hidden="true"></i>mc server and other stuff
    <br />
    You can find shortcuts to all my links on the navigation bar to the left
    <br />
    You can also find complete source of this website <a href="https://github.com/RoziePlaysPython/roziewebspace/">here</a>
    </p>
  </div>
  <div class="textblock">
    <h2>about me</h2>
    <p>
    My name is Rozie, I'm a <samp id="years" >this</samp> year old
    passionate <br /><s class="spoiler">self-taught</s> developer from Moscow.
    <br />
    I used to do delivery at <a href="https://www.colorton.net/">Colorton</a>, but now I'm doing junior DevOps stuff at <a href='https://gitflic.ru/'>Gitflic.</a>
    <br />
    I will try to keep working on my own projects, despite already having to sit beside the computer for 8 hours a day :).
    </p>
  </div>
  <div class="textblock">
    <h2>useful info</h2>
    <p>
    I'm currently unavailable for hire.
    <br/>
    Good news! I am still planning to freelance.
    <br/>
    You can contact me directly in telegram, I would be glad to receive your offer.
    </p>
  </div>
  <div class="textblock">
    <h2>useless info</h2>
    <p>
    Favorite color: <button class="fav-color" onclick="copy_to_clipboard(this)">#53cc7d</button>;<samp id="copied" style="visibility: hidden;">Copied to clipboard!</samp>
    <br />
    Favorite music: <a href="https://www.youtube.com/watch?v=byvta9LHo2o"><u>Ichiko Aoba - Ikinokori Bokura</u></a>;
    <br />
    Favorite distro: <img class="logo" src="https://cdn.icon-icons.com/icons2/1381/PNG/512/distributorlogoarchlinux_94330.png" alt="Arch Linux" /> Arch Linux;
    <br />
    Favorite wm: <a href="https://i3wm.org/"><img class="logo logo-i3", src="https://i3wm.org/img/logo.svg" alt="i3wm logo" />i3wm</a>;
    </p>
  </div>
  <div class="textblock width-extended fuckmozillafornotenablinghasselector">
    <h1>Code stats</h1>
    <div class="stats-wrapper">
      <div class="codestats-wrapper">
        <embed class="codestats" src="https://wakatime.com/share/@df8c0dff-3e69-4420-b30e-55932e1579d8/09b81575-bcef-4f51-b43d-3b5e235af45a.svg" />
      </div>
      <div class="waka-wrapper">
        <figure><embed src="https://wakatime.com/share/@rzidev/c72b3af2-aefd-47dd-a0af-bead268dc864.svg"></embed></figure>
      </div>
    </div>
  </div>
</div>
{% endblock %}
