{% extends 'base.html' %}

{% block head %}
<title>rozie's space</title>
{% endblock %}


{% block body %}

<div class="content">
  <div class="textblock">
    <h2>WELCOME</h2>
    <p>This place acts as a front page to my retarded.games vps, a place for my <i class="fa fa-telegram" aria-hidden="true"></i>bots, <i class="fa fa-cube" aria-hidden="true"></i>mc server and other stuff
    <br />
    You can find shortcuts to all my links on the navigation bar to the left
    <br />
    You can also find complete source of this website <a href="https://github.com/RoziePlaysPython/roziewebspace/">here</a>
    </p>
  </div>
  <div class="textblock">
    <h2>ABouT mE</h2>
    <p>
    My name is Rozie, I'm a <samp id="years" >this</samp> year old
    passionate <br /><s class="spoiler">self-taught</s> developer from Moscow.
    <br />
    I'm currently <s class="spoiler">unemployed</s> working as a courier at a small company <s class="spoiler">[REDACTED]</s> and <s class="spoiler">desperate</s> willing to change jobs.
    <br />
    Despite doing <s class="spoiler">a hell of a job</s> hard work in delivery, I work on some projects in my free time. You can find them on my <a href="https://github.com/RoziePlaysPython">github</a>.
    </p>
  </div>
  <div class="textblock">
    <h2>useful info</h2>
    <p>
    Good news! I'm available for hire!
    <br/>
    #TODO - link resume here!!! ##TODODO - make resume page!
    <br/>
    Contact me <a href="https://hh.ru/resume/f0876ad0ff0af6e0f30039ed1f706d4e395934">here</a> or just write me directly in telegram, I would be glad to receive your offer.
    </p>
  </div>
  <div class="textblock">
    <h2>useless info</h2>
    <p>
    Favorite color: <button class="fav-color" onclick="copy_to_clipboard(this)">#53cc7d</button>;<samp id="copied" style="visibility: hidden;">Copied to clipboard!</samp>
    <br />
    Favorite music: <a href="https://www.youtube.com/watch?v=loqNdeBmMpU"><u>Sewerslvt - The Grilled Fish's Ballad</u></a>;
    <br />
    Favorite distro: <img class="logo" src="https://cdn.icon-icons.com/icons2/1381/PNG/512/distributorlogoarchlinux_94330.png" alt="Arch Linux" /> Arch Linux;
    <br />
    Favorite wm: <a href="https://i3wm.org/"><img class="logo logo-i3", src="https://i3wm.org/img/logo.svg" alt="i3wm logo" />i3wm</a>;
    </p>
  </div>
  <div class="textblock width-extended fuckmozillafornotenablinghasselector">
    <h1>Code stats</h1>
    <div class="stats-wrapper">
      <div class="codestats-wrapper">
        <embed class="codestats" src="https://wakatime.com/share/@df8c0dff-3e69-4420-b30e-55932e1579d8/09b81575-bcef-4f51-b43d-3b5e235af45a.svg" />
      </div>
    </div>
  </div>
</div>
{% endblock %}
